



h1 {
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 0px;

}

h1[type="info"]{
    margin-top:50px;
}

h2{
    text-align: center;
    font-size: 10px;
    padding-bottom: 0px;
}

h3 {
    text-align: center;
    font-size: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.Abschnitt1{
    background-color: #e2ae2c;
    height: 80px;
    margin-top: -10px;
}

.navi {
    padding-top: -1px;
    padding-bottom: 0px;
    background-color: #ff6a00;
}

a{
    color: #ffffff;
    font-size: 12px;
}

.wrap{
    background-color: black;
    height: 600px;
    width:100%;
    
}
.afterwrap {
    background-color: grey;
    height: 30px;
    width: 100px;
    padding-top: -100px;
}


/*    PLOT    */
#scaled-frame {
    width: 300%;
    height: 100%;
    border: 0px;
    margin-left: 5%;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 0px;
}

#scaled-frame {
    zoom: 0.3;
    -moz-transform: scale(0.3);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.3)
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.3);
    -webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #scaled-frame {
        zoom: 1;
    }
}

/*             Passwort           */

.firstline {
    display: block;
    margin: 1rem 40%;
}


label[type="passwort"] {
    display: block;
    margin-left: 42%;
    margin-right: auto;
    color: white;
    padding-top: 5%;
    
}

input[type="button"]{
    margin-left:45%;
}

form[type="entranceform"] {
    margin-top: 100px;
    background: #244597;
    height: 200px;
}

body[type="entrance"] {
    background-image: url(malz_blau.png);
}